<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="Behaviour1">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true" />
            <serviceCredentials >
              <serviceCertificate findValue="WebApplication1" storeLocation="LocalMachine"
                                  storeName="My" x509FindType="FindBySubjectName"/>
              <userNameAuthentication userNamePasswordValidationMode="Custom" 
                 customUserNamePasswordValidatorType="WCFAuth.UsernameValidator, CustomUsernamePasswordAuth.Service"/>
            </serviceCredentials>
          </behavior>
        </serviceBehaviors>
      </behaviors>
        <bindings>
            <wsHttpBinding>
              <binding name="Behaviour1" >
                <security mode="Message">
                  <message clientCredentialType="UserName"/>
                </security>
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFAuth/Service1/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
                contract="CustomAuth.IService1" name="WSHttpBinding_IService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
      <services>
        <service behaviorConfiguration="Behavior1"
                  name="CustomUsernamePasswordAuth.Service.Service1">
          <endpoint address="" binding="wsHttpBinding"
                    bindingConfiguration="Binding1"
                    contract="CustomUsernamePasswordAuth.Service.IService1" />
          <endpoint address="mex" binding="mexHttpBinding"
             contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost/" />
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>
</configuration>
